*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
//   font-family: 'Lora', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
//   padding-top: 30px;
//   padding-bottom: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: #cccccc;
  text-align: center;
  margin-bottom: 30px;
}

p {
  margin: 0;  
}





.main-section{
    width: 1200px;
    margin: 20px auto 0;
    padding: 0 15px;
  }

.search-form {
    width: 1170px;
    height: 40px;
    display: flex;
    margin: 30px auto 30px;
  }
 .input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    &::placeholder {
      text-align: center;
      color: black;
    }
    &:focus::placeholder{
      color: transparent;
    }
    box-sizing: border-box;
  }
  
  .search-button {
    width: 150px;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: black;
    color: white;
    outline: none;
    transition: all 250ms cubic-bezier(.74,1.04,.13,.03);
    box-sizing: border-box;
  }
  
  .search-button:hover  {
    color: black;
    background: white;
    border: 2px solid black;
  }

/* Images List */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  list-style: none;
}

.photo-card {
  overflow: hidden;
  cursor: pointer;
  background-color: #eee;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
}

.photo-card:hover {
  opacity: 0.5;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.image-container::after {
  content: '';
  background: transparent url(../images/photo.png) no-repeat center;
  background-size: contain;
  display: inline-block;
  width: 82px;
  height: 55px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  visibility: hidden;
}

.image-container {
  position: relative;

}

.photo-card:hover > .image-container::after {
  visibility: visible;
}




.img {
  display: block;
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-item i {
  margin-bottom: 5px;
}



